<p-dialog header="Edytuj wydarzenie" [(visible)]="displayDialog" [modal]="true" [closable]="false">
  <form #form="ngForm" class="p-fluid">
    <div class="p-fluid">
      <div class="p-field">
        <label for="title">Tytuł</label>
        <input id="title" type="text" pInputText [(ngModel)]="eventToEdit.title" name="title" #title="ngModel" required>
        <div *ngIf="title.invalid && title.touched" class="p-error">Tytuł nie może być pusty.</div>
      </div>
      <div class="p-field">
        <label for="date">Date</label>
        <input id="date" type="date" pInputText [(ngModel)]="eventToEdit.date" name="date" #date="ngModel" required>
        <div *ngIf="date.invalid && date.touched" class="p-error">Data nie może być pusta.</div>
      </div>
      <div class="p-field">
        <label for="description">Opis</label>
        <textarea id="description" rows="3" pInputText [(ngModel)]="eventToEdit.description" name="description" #description="ngModel" required></textarea>
        <div *ngIf="description.invalid && description.touched" class="p-error">Opis nie może być pusty.</div>
      </div>
    </div>
    <p-footer>
      <button pButton type="button" label="Anuluj" icon="pi pi-times" class="ui-button-secondary" (click)="closeDialog()"></button>
      <button pButton type="button" label="Zapisz" icon="pi pi-check" [disabled]="form.invalid" (click)="saveEditEvent()"></button>
    </p-footer>
  </form>
</p-dialog>
