<p-timeline [value]="(events$ | async) || []" [align]="'alternate'" [layout]="'vertical'">
  <ng-template let-event pTemplate="content">
    <div class="custom-card">
      <div class="event-info-conteiner">
        <div class="event-header">
          <i [ngClass]="event.icon" class="event-icon" [style.background]="event.color"></i>
          <span class="event-title">{{ event.title }}</span>
        </div>
        <span class="event-date">{{ event.date | date: 'dd/MM/yyyy'}}</span>
        <span class="event-description">{{ event.description }}</span>
      </div>
      <div class="event-actions">
        <button pButton type="button" icon="pi pi-pencil" class="ui-button-sm ui-button-warning" (click)="onEditEvent(event)"></button>
        <button pButton type="button" icon="pi pi-trash" class="ui-button-sm ui-button-danger" (click)="confirmDelete(event)"></button>
      </div>
    </div>
  </ng-template>
</p-timeline>

<p-confirmDialog></p-confirmDialog>

<app-edit-event-dialog></app-edit-event-dialog>
